# Copyright 2023 Canonical Ltd.
# See LICENSE file for licensing details.
name: Release to latest/edge

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  ci-tests:
    uses: ./.github/workflows/ci.yaml

  build:
    name: Build charm
    uses: canonical/data-platform-workflows/.github/workflows/build_charm.yaml@v40.0.0
    with:
      cache: false

  release:
    name: Release to Charmhub
    needs:
      - ci-tests
      - build
    uses: canonical/data-platform-workflows/.github/workflows/release_charm_edge.yaml@v40.0.0
    with:
      track: latest
      artifact-prefix: ${{ needs.build.outputs.artifact-prefix }}
    secrets:
      charmhub-token: ${{ secrets.CHARMHUB_TOKEN }}
    permissions:
      contents: write # Needed to create GitHub release
